<%- include("./layouts/header") %>
    <%- include("./layouts/nav") %>

        <div>
            <div class="container mt-5">
                <% if(locals.error){ %>
                    <div class="alert alert-danger" role="alert">
                        <%= locals.error %>
                    </div>
                    <% } %>
            </div>
            <div class="container mt-5">
                <form action="/blog/saveBlog" method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="coverImage" class="form-label">Cover Image</label>
                        <input type="file" name="coverImage" class="form-control" id="coverImage" required />
                    </div>
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" name="title" class="form-control" id="title" required />
                    </div>
                    <div class="mb-3">
                        <label for="body" class="form-label">Body</label>
                        <textarea name="body" class="form-control" id="body"></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>

        </div>


        <%- include("./layouts/footer") %>